body {
    background: #212121;
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    color: #efefef;
    padding: 2em;
    max-width: 90%;
    width: 500px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2em;
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

.section {
    border-top: solid 4px #efefef;
    padding-top: 1em;
    margin-top: 1em;
    font-weight: 200;
}

button {
    padding: .5em;
    width: 200px;
    margin: 0 auto;
    display: block;
    color: #efefef;
    margin-top: 1em;
    border: solid 2px #efefef;
    border-radius: 5px;
}

.content img, .content h1 {
    display: inline;
}

.content img {
    margin-top: -15px;
}